.football {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.field {
  height: 95vh;
  border-radius: 10px;
}
.ball {
  position: absolute;
  top: 0vh;
  left: 0vh;
  height: 9vh;
}
