.football {
  position: relative;
  margin: 15px 10px 0;
}
.score {
  position: absolute;
  left: calc(50% - 12.2vh);
  font-size: 19vh;
  color: white;
}
.field {
  height: 97vh;
  width: 100%;
  border-radius: 10px;
}
.ball {
  position: absolute;
  cursor: pointer;
  top: 0vh;
  left: 0vh;
  height: 9vh;
}
